.container {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;

  padding: 20px 20px;
}

.sponsor {
  max-width: min(90vw, 500px);
  max-height: 300px;
}