.container {
  width: 100vw;
  height: 800px;
}

.background {
  width: 100%;
  height: 100%;

  background-image: url("/backgrounds/sobrato.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;
}

.inner_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px 20px;

  position: fixed;
}

.name {
  color: white;

  margin: -40px 0px 0px 0px;
  text-shadow: rgba(100, 100, 100, 0.6) 0px 0px 25px;
  font-size: min(60px, 13vw);
}

.sign_up {
  background-color: white;
  color: var(--text-color);

  padding: 10px 50px;
  margin: 40px 0px;

  font-size: 40px;

  border: 1px solid white;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.sign_up:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}