.container {
  position: relative;
  width: 100vw;
  height: 100px;

  overflow-x: hidden;

  padding: 0px;
  margin: 0px;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}