.container {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tagline {
  width: 607px;
  height: 411px;
}

@media (max-width: 607px) {
  .tagline {
    height: 0px;
  }
}